<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>e-commerce/backend</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
  <%- include('blocks/header') -%>
</body>
</html>